/* general tools */

html{
	overflow:hidden;
	font-family: helvetica;
}

#header,
#footer{
	text-align: center;
	font-size: 38px;
}

.clearfix{
	clear: both;
}

/* panels */

#slider_div{
	height: 300px;
	width: 5000px;
	overflow: auto;
}

.slider_panel{
	height: 100%;
	width: 400px;
	float:left;
	text-align: center;
	line-height: 100px;
}

.tile{
	border: solid;
	border-width: 2px;
	margin: 10px;
	padding: 10px;
	display: inline-block;
	min-width: 100px;
	min-height: 100px;
	
}

#panel_0{
	background-color: red;
}

#panel_1{
	background-color: blue;
}

#panel_2{
	background-color: green;
}


/* prev/next buttons */
.slider_button{
	position: fixed;
}
#prev_button{
	top: 50%;
	left: 10px;
	z-index: 10;
}
#next_button{
	top: 50%;
	right: 10px;
}