/* general tools */

html{
	overflow:hidden;
	font-family: helvetica;
}

html,
body,
#wrapper{
	height: 100%;
}

#header,
#footer{
	text-align: center;
	font-size: 40px;
	height: 75px;
}

.clearfix{
	clear: both;
}

/* panels */

#slider_div{
	/*height: 300px;*/
	width: 50000px;
	overflow: auto;
	height: calc(100% - 75px - 75px); /* - header and footer */
}

.slider_panel{
	/*width: 400px;*/
	/*float:left;*/
	text-align: center;
	/*line-height: 100px;*/
	display: inline-block;
	height: 100%;
	width: 100%;
	/*height: calc(100% - 350px);*/
}

.app_group{
	border: dotted;
	border-radius: 0px;
	margin: 25px 40px;
	/*height: 100%;*/
	height: calc(70%);
	width: 100%;
}

.app_container{
	border: solid;
	border-width: 2px;
	border-radius: 15px;
	margin: 10px;
	padding: 10px;
	display: inline-block;
	height: 100%;
	/*width: 33%;*/
	float: left;
}


.slider_panel:nth-child(odd){
	background:#eee;
}
.slider_panel:nth-child(even){
	background:#ddd;
} 

.app_1{
	width: 30%;
}

.app_2{
	width: 10%;
}

.app_{
	width: 10%;
}


/* prev/next buttons */
.slider_button{
	position: fixed;
}
#prev_button{
	top: 50%;
	left: 10px;
	z-index: 10;
}
#next_button{
	top: 50%;
	right: 10px;
}

/*drag and drop styles*/

.drag_over{
	border-radius: 20px;
	border: dashed;
}