
/* Base stuff */

body {
  font: 15px/16px Segoe UI, Verdana, sans-serif;
  background-color: #bbf;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8) 90%,
      rgba(255, 255, 255, 0.5));
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 20px;
  height: calc(100vh - 40px);
}

#container {
  display: -moz-box;
  -moz-box-orient: vertical;
  width: 100%;
  height: 100%;
}


/* Utils */

/* Debug

#container > div {
  border: 1px solid red;
}
#container > div > * {
  border: 1px solid red;
}
*/


/* ====== media ====== */
.media {
  margin: 20px;
  white-space: nowrap;
}
.media, .bd {
  overflow: hidden;
  _overflow: visible;
}
.media .img {
  float: left;
  margin-right: 10px;
}
.media .img img {
  display: block;
  width: 32px;
  height: 32px;
}
.media .imgExt {
  float: right;
  margin-left: 10px;
}
.media .title {
  font-size: 120%;
}
.media .url {
  color: #888;
  font-size: 80%;
}

/* Top stuff */

#top > .button {
  background-repeat: no-repeat;
  background-position: left top;
  margin: 10px;
  padding-left: 20px;
}

#top > .separator {
    width: 3px;
    min-width: 3px;
    margin: 0px 10px;
    background-image: linear-gradient(rgba(255, 255, 255, 0),
                                      rgba(255, 255, 255, 0.3) 30%,
                                      rgba(255, 255, 255, 0.3) 70%,
                                      rgba(255, 255, 255, 0)),
                      linear-gradient(rgba(23, 51, 78, 0),
                                      rgba(23, 51, 78, 0.3) 30%,
                                      rgba(23, 51, 78, 0.3) 70%,
                                      rgba(23, 51, 78, 0)),
                      linear-gradient(rgba(255, 255, 255, 0),
                                      rgba(255, 255, 255, 0.3) 30%,
                                      rgba(255, 255, 255, 0.3) 70%,
                                      rgba(255, 255, 255, 0));
    background-size: 1px auto, 1px auto, 1px auto;
    background-position: left top, center top, right top;
    background-repeat: no-repeat;
}

#top > img {
  width: 16px;
  height: 16px;
  vertical-align: top;
  margin: 0px 3px;
}


/* Top Buttons */

  #home {
    background-image: -moz-image-rect(url(chrome://browser/skin/Toolbar.png), 0, 120, 20, 100);
  }

  #apps {
    background-image: -moz-image-rect(url(chrome://browser/skin/webapps-16.png), 0, 20, 20, 0);
  }

  #whatsnew {
    background-image: url(https://people.mozilla.com/~bwinton/newtab/images/whats_new_icon.png);
  }

  #search {
    display: inline-block;
    -moz-user-select: -moz-none;
    background-color: hsla(0,0%,100%,.9);
    border: 1px solid transparent;
    border-color: hsla(210,54%,20%,.25) hsla(210,54%,20%,.27) hsla(210,54%,20%,.3);
    border-radius: 2px;
    box-shadow: 0 1px 0 hsla(0,0%,0%,.01) inset,
                0 1px 0 hsla(0,0%,100%,.1);
    color: #808080;
    outline-style: none;
    overflow: hidden;

    width: 28%;
    float: right;
    height: 27px;
  }

  #search > .button {
    cursor: default;
    float:right;
    background-color: #FCFCFC;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
    height: 100%;
    padding: 5px 10px;

    border-left: 1px solid transparent;
    border-color: hsla(210,54%,20%,.25) hsla(210,54%,20%,.27) hsla(210,54%,20%,.3);
  }

  #search > .terms {
    -moz-user-select: text;
    cursor: text;
  }


/* Middle stuff */

#middle {
  -moz-box-flex: 1;
  padding: 4vh;
}

#middle > div {
  height: 65vh;
}

#topsites {
  margin-left: 5%;
  width: 65%;
  position: relative;
}

#history {
  float: right;
  width: 20%;
  margin-right: 5%;
}

.newtab-link.blank {
  border: 1px dashed #AAA;
  background-color: rgba(255, 255, 255, 0.7);
}

.newtab-link {
  border: 1px solid #AAA;
  float: left;
  margin: 1%;
  width: 30%;
  height: 30%;
  background-origin: padding-box;
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-size: cover;
}

.newtab-thumbnail {
  width: 100%;
  height: calc(100% - 1em - 14px);
}

.newtab-title {
  width: calc(100% - 14px);
  height: 1em;
  padding: 7px;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: rgba(255, 255, 255, 0.7);
}

/* Bottom stuff */

#bottom {
  padding: 4vh;
}

#bottom > div {
  height: 10vh;
}

#weather {
  margin-left: 2%;
  width: 30%;
}

#weather img {
  position: absolute;
}

#weather div {
  margin-left: 50px;
  padding: 5px 5px 0px;
}

#weather .temperature {
  font-weight: bolder;
  font-size: larger;
}

#weather .city {
  color: #888;
  font-size: smaller;
}

#snippetContainer {
  float: right;
  width: 30%;
  margin-right: 2%;
}

#defaultSnippet1,
#defaultSnippet2 {
  display: block;
  min-height: 38px;
  background: 30px center no-repeat;
  padding: 6px 0;
  -moz-padding-start: 79px;
}

#defaultSnippet1 {
  background-image: url("chrome://browser/content/abouthome/snippet1.png");
}

#defaultSnippet2 {
  background-image: url("chrome://browser/content/abouthome/snippet2.png");
}
