
/* Base stuff */

body {
  font: 15px/16px Lucida Grande, Segoe UI, Verdana, sans-serif;
  background-color: #E5E5E5;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5) 85%,
      rgba(150, 210, 255, 0.6));
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 20px;
  height: calc(100vh - 40px);
}

#container {
  display: -moz-box;
  -moz-box-orient: vertical;
  width: 100%;
  height: 100%;
}


/* Utils */

/* Debug

#container > div {
  border: 1px solid red;
}
#container > div > * {
  border: 1px solid red;
}
*/


/* ====== media ====== */
.media {
  margin: 20px;
  white-space: nowrap;
}
.media, .bd {
  overflow: hidden;
  _overflow: visible;
}
.media .img {
  float: left;
  margin-right: 10px;
}
.media .img img {
  display: block;
  width: 32px;
  height: 32px;
}
.media .imgExt {
  float: right;
  margin-left: 10px;
}
.media .title {
  font-size: 120%;
}
.media .url {
  color: #888;
  font-size: 80%;
}

/* Top stuff */


#top > .button {
  background-repeat: no-repeat;
  background-position: left top;

  margin: 10px 1px;
  padding: 6px 6px;
  vertical-align: top;
  white-space: normal;
  background: transparent padding-box;
  border: 1px solid transparent;
  border-radius: 2.5px;
  color: #525c66;
  cursor: pointer;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 150ms;
}

#top > .button:hover {
  background-color: hsla(211,79%,6%,.03);
  border-color: hsla(210,54%,20%,.15) hsla(210,54%,20%,.17) hsla(210,54%,20%,.2);
}

#top > .button:hover:active {
  background-image: -moz-linear-gradient(hsla(211,79%,6%,.02), hsla(211,79%,6%,.05));
  border-color: hsla(210,54%,20%,.2) hsla(210,54%,20%,.23) hsla(210,54%,20%,.25);
  box-shadow: 0 1px 1px hsla(211,79%,6%,.05) inset,
              0 0 1px hsla(211,79%,6%,.1) inset;
  transition-duration: 0ms;
}


#top > .separator {
    width: 3px;
    min-width: 3px;
    margin: 0px 10px;
    background-image: linear-gradient(rgba(255, 255, 255, 0),
                                      rgba(255, 255, 255, 0.3) 30%,
                                      rgba(255, 255, 255, 0.3) 70%,
                                      rgba(255, 255, 255, 0)),
                      linear-gradient(rgba(23, 51, 78, 0),
                                      rgba(23, 51, 78, 0.3) 30%,
                                      rgba(23, 51, 78, 0.3) 70%,
                                      rgba(23, 51, 78, 0)),
                      linear-gradient(rgba(255, 255, 255, 0),
                                      rgba(255, 255, 255, 0.3) 30%,
                                      rgba(255, 255, 255, 0.3) 70%,
                                      rgba(255, 255, 255, 0));
    background-size: 1px auto, 1px auto, 1px auto;
    background-position: left top, center top, right top;
    background-repeat: no-repeat;
}

#top > img {
  width: 16px;
  height: 16px;
  vertical-align: top;
  margin: 0px 3px;
}


/* Top Buttons */

  #home::before {
    content: url("http://people.mozilla.com/~bwinton/newtab/images/icon-home-small.png");
    margin-right: 5px;
  }

  #apps::before {
    content: url("http://people.mozilla.com/~bwinton/newtab/images/icon-addons-small.png");
    margin-right: 5px;
  }

  #whatsnew::before {
    content: url("http://people.mozilla.com/~bwinton/newtab/images/icon-help-small.png");
    margin-right: 5px;
  }

  #downloads::before {
    content: url("http://people.mozilla.com/~bwinton/newtab/images/icon-downloads-small.png");
  }
  #bookmarks::before {
    content: url("http://people.mozilla.com/~bwinton/newtab/images/icon-bookmarks-small.png");
  }
  #addons::before {
    content: url("http://people.mozilla.com/~bwinton/newtab/images/icon-addons-small.png");
  }
  #settings::before {
    content: url("http://people.mozilla.com/~bwinton/newtab/images/icon-preferences-small.png");
  }


/* Search */

#search {
  float: right;
  width: 30%;
  font-size: 17px;
}

#searchText {
  font-size: 17px;
  padding: 6px 8px;
  background: hsla(0,0%,100%,.9) padding-box;
  border: 1px solid;
  border-color: hsla(210,54%,20%,.15) hsla(210,54%,20%,.17) hsla(210,54%,20%,.2);
  box-shadow: 0 1px 0 hsla(210,65%,9%,.02) inset,
              0 0 2px hsla(210,65%,9%,.1) inset,
              0 1px 0 hsla(0,0%,100%,.2);
  border-radius: 2.5px 0 0 2.5px;
  width: 78%;
}

#searchText:-moz-dir(rtl) {
  border-radius: 0 2.5px 2.5px 0;
}

#searchText:focus,
#searchText[autofocus] {
  border-color: hsla(206,100%,60%,.6) hsla(206,76%,52%,.6) hsla(204,100%,40%,.6);
}

#searchSubmit {
  font-size: 17px;
  -moz-margin-start: -7px;
  background: -moz-linear-gradient(hsla(0,0%,100%,.8), hsla(0,0%,100%,.1)) padding-box;
  padding: 5px 9px;
  border: 1px solid;
  border-color: hsla(210,54%,20%,.15) hsla(210,54%,20%,.17) hsla(210,54%,20%,.2);
  -moz-border-start: 1px solid transparent;
  border-radius: 0 2.5px 2.5px 0;
  box-shadow: 0 0 2px hsla(0,0%,100%,.5) inset,
              0 1px 0 hsla(0,0%,100%,.2);
  cursor: pointer;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 150ms;
  width: 17%;
}

#searchSubmit:-moz-dir(rtl) {
  border-radius: 2.5px 0 0 2.5px;
}

#searchText:focus + #searchSubmit,
#searchText + #searchSubmit:hover,
#searchText[autofocus] + #searchSubmit {
  border-color: #59b5fc #45a3e7 #3294d5;
  color: white;
}

#searchText:focus + #searchSubmit,
#searchText[autofocus] + #searchSubmit {
  background-image: -moz-linear-gradient(#4cb1ff, #1793e5);
  box-shadow: 0 1px 0 hsla(0,0%,100%,.2) inset,
              0 0 0 1px hsla(0,0%,100%,.1) inset,
              0 1px 0 hsla(210,54%,20%,.03);
}

#searchText + #searchSubmit:hover {
  background-image: -moz-linear-gradient(#66bdff, #0d9eff);
  box-shadow: 0 1px 0 hsla(0,0%,100%,.2) inset,
              0 0 0 1px hsla(0,0%,100%,.1) inset,
              0 1px 0 hsla(210,54%,20%,.03),
              0 0 4px hsla(206,100%,20%,.2);
}

#searchText + #searchSubmit:hover:active {
  box-shadow: 0 1px 1px hsla(211,79%,6%,.1) inset,
              0 0 1px hsla(211,79%,6%,.2) inset;
  transition-duration: 0ms;
}


/* Middle stuff */

#middle {
  -moz-box-flex: 1;
  padding: 4vh;
}

#middle > div {
  height: 65vh;
}

#topsites {
  margin-left: 5%;
  width: 65%;
  position: relative;
}

#history {
  float: right;
  width: 20%;
  margin-right: 5%;
}

history {
  cursor: pointer;
}

.newtab-link.blank {
  border: 1px dashed #AAA;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: default;
}

.newtab-link {
  cursor: pointer;
  border: 1px solid #AAA;
  float: left;
  margin: 1%;
  width: 30%;
  height: calc(30% - 1em);
  background-origin: padding-box;
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-size: cover;
}

.newtab-thumbnail {
  width: 100%;
  height: calc(100% - 1em - 14px);
}

.newtab-title {
  width: calc(100% - 14px);
  height: 1em;
  padding: 7px;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: rgba(255, 255, 255, 0.7);
}

/* Bottom stuff */

#bottom {
  padding: 4vh;
}

#bottom > div {
  height: 10vh;
}

#weather {
  margin-left: 2%;
  width: 30%;
}

#weather img {
  position: absolute;
}

#weather div {
  margin-left: 50px;
  padding: 5px 5px 0px;
}

#weather .temperature {
  font-weight: bolder;
  font-size: larger;
}

#weather .city {
  color: #888;
  font-size: smaller;
}

#snippetContainer {
  float: right;
  width: 30%;
  margin-right: 2%;
}

#snippetLogo {
  width: 64px;
  height: 64px;
  float: right;
}

#defaultSnippet1,
#defaultSnippet2 {
  display: block;
  min-height: 38px;
  background: 30px center no-repeat;
  padding: 6px 0;
  -moz-padding-start: 79px;
  -moz-padding-end: 10px;
}

#defaultSnippet1 {
  background-image: url("chrome://browser/content/abouthome/snippet1.png");
}

#defaultSnippet2 {
  background-image: url("chrome://browser/content/abouthome/snippet2.png");
}
