/* sytling for newtab configuration page */

body{
  font: 15px/16px Lucida Grande, Segoe UI, Verdana, sans-serif;
}

#preview_container{
	/*overflow: auto;*/
	height: 100%;
	background-color: #E6E6E7;
	overflow: hidden;
	padding: 20px;
}

#preview_container h1{
	font-size: 18px;
	margin-left: 10px;
}

#slider_div{
	margin: 0px;
	padding: 0px;
}

.slider_panel{
	height: 300px;
	width: 480px;
	background-image:url('../images/new_tab_body_background.png');
	display: inline-block;
	/*height: 100%;*/
	margin: 10px;
	padding: 0px;
	position: relative;
	-moz-user-select: none;
	user-select: none;
}

#slider_container{
	overflow-x: scroll; 
	overflow-y: hidden;
}

.panel_header{
	width: 100%;
	height: 30px;
	/*background-color: red;*/
	position: absolute;
  	top: 0px;
  	text-align: center;
}

.search_box{
	/*margin: auto auto;*/
	margin: 10px 0px 0px 0px;
	height: 5px;
	width: 100px;
	font-size: 6px;
}

.search_button{
  font-size: 5px;
  margin-left: -6px;
  background: -moz-linear-gradient(hsla(0,0%,100%,.8), hsla(0,0%,100%,.1)) padding-box;
  padding: 2px 2px 1px 2px;
  border: 1px solid;
  border-color: hsla(210,54%,20%,.15) hsla(210,54%,20%,.17) hsla(210,54%,20%,.2);
  -moz-border-start: 1px solid transparent;
  border-radius: 0 2.5px 2.5px 0;
  box-shadow: 0 0 2px hsla(0,0%,100%,.5) inset,
              0 1px 0 hsla(0,0%,100%,.2);
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 150ms;
  width: 30px;
}

.search_engine_logo{
	height: 9px;
	padding-right: 3px;
	margin-bottom: -3px;
	-moz-user-select: none;
}

.panel_footer{
	width: 100%;
	height: 30px;
	background-color: blue;
	position: absolute;
  	bottom: 0px;
  	background-image:url('../images/new_tab_footer_background.png');
	background-repeat: repeat;
	border-top: solid;
	border-width: 1px;
	border-color: #dee1e2;
}

#footer_buttons{
	float: left;
	height: 10px;
	padding-left: 4px;
}

#footer_buttons img{
	height: 15px;
	margin-top: 10px;
	padding-left: 2px;
}


#firefox_logo {
  height: 25px;
  z-index: 3;
  float: right;
  padding-top: 4px;
  padding-right: 3px;
}

#new_panel_button{
	width: 100px;
	margin: 0px 0px 120px 20px;
	cursor: pointer;
}


#templates{
	display: none;
}